main {
    display: flex;
    margin: 1%;
    flex-flow: column wrap;
    align-items: center;
    gap: 12px;
}

main .blogs-main-section-top {
    width: 100%;
    gap: 12px;
    background-color: gray;
    border: solid 1px black;
    border-radius: 10px;
}

main section.blogs-main-section-post {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 12px;
    border: solid 1px black;
    border-radius: 10px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
}

/* footer .lineGreen {
    background-color: #47cfac;
    width: 100%;
    height: 20px;
    margin: 0;

} */

footer .lineBlack {
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    margin: 0;
    border-top: 20px solid #47cfac;
}

.blogs-main-section-top {
    background-color: #dfe3e9;
}

.blogs-main-section-post {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(15rem,100%),1fr));
}