.blogss__containerGrid {
    display: grid; /*indica uso de columnas y filas*/
    gap: 1rem; /*espacio entre las celdas de la grilla*/
    grid-auto-rows: 22rem; /* indica que cada row (fila) ocupa x tamaño y usa cuantas necesita*/ 
    grid-auto-flow: dense; /* indica que acomode los elementos para ocupar el espacio sin inportar si se pierde el orden*/
    grid-template-columns: repeat(auto-fit,minmax(min(15rem,100%),1fr)); /* (auto-fit,auto-fill) indica que llene el espacio disponible con la cantidad de columnas sugún tamaño definido*/
}


/*
cm	Centímetros	1cm = 96px/2,54
mm	Milímetros	1mm = 1/10 de 1cm
Q	Cuartos de milímetros	1Q = 1/40 de 1cm
in	Pulgadas	1in = 2,54cm = 96px
pc	Picas	1pc = 1/6 de 1in
pt	Puntos	1pt = 1/72 de 1in
px	Píxeles	1px = 1/96 de 1in

em	Tamaño de letra del elemento padre, en el caso de propiedades tipográficas como font-size, y tamaño de la fuente del propio elemento en el caso de otras propiedades, como width.
ex	Altura x de la fuente del elemento.
ch	La medida de avance (ancho) del glifo "0" de la letra del elemento.
rem	Tamaño de la letra del elemento raíz.
lh	Altura de la línea del elemento.
vw	1% del ancho de la ventana gráfica.
vh	1% de la altura de la ventana gráfica.
vmin	1% de la dimensión más pequeña de la ventana gráfica.
vmax	1% de la dimensión más grande de la ventana gráfica.
*/