/* reset browser styles */
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header and nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: gray;
    color: white;
    padding: 0 5vh;
}

/* logo */
.logo {
    text-transform: uppercase;
    font-size: 2rem;
    color: aquamarine;
}

nav>a {
    text-decoration: none;
    color: white;
    padding: 0 1vh;
    text-transform: uppercase;
    transition: 0.5s;
}

.showMenu, .hideMenu  {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

/* change position or order */
.showMenu {
    order: 1;
}

nav>a:hover, .showMenu:hover, .hideMenu:hover {
    color: aquamarine;
}

/* hide ckecbox */
#check {
    display: none;
}

@media (max-width:800px) {
    /* Header */
    .showMenu, .hideMenu {
        display: block;
    }

    .menu {
        position: fixed;
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: gray;
        padding: 5vh 0vh;
        z-index: 100;
        transition: 0.6s;
    }

    .hideMenu {
        position: absolute;
        top: 1vh;
        right: 1vh;
    }

    #check:checked ~ .menu {
        right: 0;
    }

}