@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,500;0,700;1,100&family=Roboto+Slab:wght@100;500;700;900&family=Roboto:ital,wght@0,100;0,700;0,900;1,100&display=swap');
/*El import trae las fuentes roboto de google*/
/* para su uso 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
*/
body {
    font-family: 'Roboto Mono', monospace;
    border-radius: 12px;
    /* por defecto los navegadores cargan css propio a las paginas, se puede eliminar sobreescribiendo (lo mas común son magin y paddding) */
    margin: 0;
    padding: 0;
    position: fixed; /* esta linea indica que se va a fijar y no va a tener scroll */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

a {
    display: inline;
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end; /* justificar elementos al final del contenedor */
    align-items: center; /* centra los elementos tanto en width como en height */
    justify-content: space-between; /* space entre los elementos dentro del contenedor */
    justify-self: end; /* indica que en contenedor se va a posicionar al lado derecho de su contenedor padre */
    margin-right: 50px;
}

header .header-icons-container .icons span {
    color: white;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

header nav .nav-logo-container {
    display: flex;
    margin-left: 50px;

}

header nav .profile-link {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
}

header nav .profile-link a {
    border-bottom: solid 1px;
}

header nav .nav-logo-container img {
    height: 90px;
}

body main.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-image: url('../assets/Cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

body main.home-main section.home-main-section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 50px;
}
body main.home-main section.home-main-section .home-main-section-title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1rem;
    color: white;
    margin: 0 25%;
    align-self: center;
    align-content: center;
    justify-content: center;
}

body main.home-main section.home-main-section .home-main-section-button {
    background-color: #47cfac;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto;
    width: 210px;
    height: 50px;
    border: solid yellowgreen 2px;
    display: grid;
    align-items: center;
}